<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg">
    {% include analytics_head.html %}
  </head>

  <body class="layout-{{ page.layout | default: 'default' }}">
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <div class="site-brand">
              <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/favicon.svg" alt="{{ site.title }}" /></a>

              <div class="site-info">
                <h1 class="site-name"><a href="{{ site.baseurl }}/">[naibu3@ctf]$</a></h1>
              </div>
            </div>

            <nav class="top-bar">
              <a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}is-current{% endif %}">Inicio</a>
              <a href="{{ site.baseurl }}/about" class="{% if page.url == '/about/' %}is-current{% endif %}">About</a>
              <a href="{{ site.baseurl }}/getting-started" class="{% if page.url == '/getting-started/' %}is-current{% endif %}">Getting Started</a>
              <a href="{{ site.baseurl }}/search" class="{% if page.url == '/search/' %}is-current{% endif %}">Buscar</a>
              <a href="{{ site.baseurl }}/archive" class="{% if page.url == '/archive/' %}is-current{% endif %}">Archivo</a>
              <a href="{{ site.baseurl }}/categories" class="{% if page.url == '/categories/' %}is-current{% endif %}">Categorias</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
